extends _layout.pug

block locals
  - var title = 'Index';

block content
    h1 Hello Sentry
    div#react-root
    div#vue-root
    img(src="../img/icon/icon_arrow-list.svg" alt="" width="30px")
    img(src="../img/icon/icon_calendar-fill.svg" alt="" width="50px")
    

