input[type=radio]:checked + .c-label {
  &__radio {
    border: 2px solid $main-color;
    border-radius: 50%;
  }
}


.c- {
  // .c-label
  &label {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    width: 92px;
    padding: 5px 15px;
    background-color: $accent-color;
    border: 2px solid $accent-color;
    border-radius: 3px;

    &--border {
      color: $accent-color;
      background-color: transparent;
      &-blue {
        color: $main-color;
        border: 2px solid $main-color;
        background-color: transparent;
      }
    }
    &--block {
      display: block;
      margin-bottom: 1.2rem;
    }
    &--invited {
      color: #ADB4C1;
      background-color: #DCE3EF;
      border: 2px solid #DCE3EF;
    }
    &--text {
      margin-left: .6rem;
    }
    &.follow {
      color: #4FC497;
      background-color: transparent;
      border: 2px solid #4FC497;
    }

  }
}