.pulldownbox {
  width: 100%;
  background-color: #FCFCFC;
  border: 2px solid #DCE3EF;
  border-radius: 3px;
  &.inner {
    width: auto;
    margin: 0 17px;
    background-color: #fff;
    p {
      margin-bottom: 0;
    }
    .a {
      display: block;
      padding: 17px;
      &::before {
        content: "A";
        font-weight: bold;
        margin-right: 1em;
      }
    }

  }


  & + & {
    margin-top: 1.2rem;
  }

  // pulldownbox__title
  &__title {
    color: $text;
    font-weight: bold;
    position: relative;
    padding: 17px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 1.7rem;
      bottom: 0;
      width: 6px;
      height: 12px;
      margin: auto 0;
      transform: rotateZ(90deg) rotateY(0deg);
      background: url(/img/icon/icon_arrow-list.svg) no-repeat;
      background-size: 6px 12px;
      transition: transform .5s;
    }
    &.narrow {
      padding: 10px 17px;
    }
    &:hover {
      cursor: pointer;
    }
    .q {
      font-weight: normal;
      &::before {
        content: "Q";
        font-weight: bold;
        margin-right: 1em;
      }
    }
  }

  // pulldownbox__data
  &__data {
    display: none;
    visibility: hidden;
    ul {
      margin: 0 17px;
      padding: 17px 0;
      border-top: 2px solid #DCE3EF;
      transition: height .3s;
      &.no-border {
        border-top: none;
        padding-top: 0;
      }
      li {
        &::before {
          content: "・";
        }
      }
    }

    // pulldownbox__data__inner
    &__inner {
      display: none;
    }
  }

  // p-databox
  .p-databox {
    &:not(.bg-white) {
      > dl {
        > dt {
          color: $text;
        }
      }
    }
    // p-databox__title
    &__title {
      color: $text;
      .normal {
        font-weight: normal;
      }
      span + span {
        margin-left: 9rem;
      }
    }
    dl {
      margin: 0 0 17px;
      padding-bottom: 17px;
      border-bottom: 2px solid #DCE3EF;
      &:last-child() {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      dt {
        font-weight: bold;
        margin: 0 auto;
        &.mb {
          margin-bottom: 12px;
        }
      }
      dd {
        margin: 0 auto;
        > dl {
          dt {
            font-weight: normal;
          }
          dd {
            .data {
              flex-basis: 60%;
              max-width: 60%;
              padding-right: 2rem;
            }
            .set {
              flex-shrink: 0;
              align-self: flex-end;
              text-align: right;
              .block {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  // pulldownbox.on
  &.on {
    &.inner {
      p {
        margin-bottom: 17px;
      }
    }

    // .on > pulldownbox
    & > .pulldownbox {
      // .on pulldownbox__title
      &__title {
        &::after {
          transform: rotateZ(90deg) rotateY(180deg);
        }
      }
      // .on > pulldownbox__data
      &__data {
        visibility: visible;
        opacity: 1;
        height: 100%;
        ul,
        p,
        dl,
        dt,
        dd {
          height: 100%;
        }
        > p {
          margin-bottom: 17px;
        }
        dd {
          & > dl {
            &:first-child() {
              margin-top: 17px;
              padding-top: 17px;
              border-top: 2px solid #DCE3EF;
            }
            dt {
              color: $text;
              .normal {
                font-weight: normal;
              }
            }
          }
        }

        // pulldownbox__data__inner
        & > .pulldownbox__data__inner {
          display: block;
          margin-right: 17px;
          margin-left: 17px;
          $parent: ".pulldownbox__data";
          & + #{$parent}__inner {
            margin-top: 17px;
          }
        }
        .pulldownbox {
          margin-bottom: 17px;
        }
      }
    }
  }
}


// borderbox
.borderbox {
  margin: 0 17px 17px;
  padding-top: 17px;
  border-top: 2px solid #DCE3EF;
  & + & {
    padding-top: 0;
    border-top: 0;
  }

  // borderbox__item
  &__item {
    margin: 0;
    &.wide {
      width: 100%;
    }
    & + & {
      margin-left: 13rem;
    }

    // borderbox__item__data
    &__data {
      .set {
        flex-shrink: 0;
        text-align: right;
        margin-left: 2rem;
      }
      .block {
        display: block;
        margin-top: 2.5rem;
      }
    }
  }
}